
Library/EditorInstance.json
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/ProcessJobs/ab30c7bcae888f8a20ac9ec5bfbfa3a6.bakert
Temp/UnityLockfile
Library/shadercompiler-UnityShaderCompiler.exe0.log
